.App {
  width: 100vw;
  height: 100vh;
  background-color: #001B30;
}

body {
  margin: 0;
  padding: 0;
}

.Sidebar {
  height: auto;
  width: 100px;
  padding: 1px;
}

.SidebarList{
  height: auto;
  width: 100px;
  padding: 0;
  border: 2px solid aqua ;
}

.SidebarList .row{
  height: 85px;
  width: 90px;
  background-color: rgb(186, 182, 182);
  list-style-type: none;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 15px;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
}

.SidebarList .row:hover{
  cursor: pointer;
  background-color: rgb(144, 142, 142);
}

.row #icon {
  display: grid;
  transform: scale(1.9);
  padding-top: 9px;
  place-items:center;
}

.row #title {
  margin-top: 17px;
  display: grid;
  text-align: center;
}